@font-face {
     font-family: 'MyFont';
     src:  url('./Roboto-Black.ttf') format('roboto');
     font-weight: 600;
     font-style: normal;
   }

.hello {
  color: green;
  font-family: 'MyFont';
}
